@media (min-width: 992px) {
    #uglify-options {
        margin: 0 8.33333333%;
    }
    #uglify-options div {
        height: 200px;
        overflow: auto;
        margin-bottom: 10px;
    }
}
#editor, #output {
    height: 400px;
}
#uglify-reset-settings-cancel {
    display: none;
}
#uglify-checkout-status a {
    color: inherit;
}
#uglify-checkout-version {
    min-width: 50px;
}
#summary {
    display: none;
}
.dropdown-with-updates .caret {
    color: #D6C1DD;
}
.ace_editor {
    border-radius: 10px;
}